{:deps    {org.clojure/clojure       {:mvn/version "1.12.0-beta1"}
           org.clojure/clojurescript {:mvn/version "1.11.132"}
           org.clojure/test.check    {:mvn/version "1.1.1"}}
 :aliases {:test                     {:extra-paths ["test"]}
           :clj-runner               {:extra-deps {io.github.cognitect-labs/test-runner
                                                   {:git/tag "v0.5.1" :git/sha "dfb30dd"}}
                                      :main-opts  ["-m" "cognitect.test-runner"]
                                      :exec-fn    cognitect.test-runner.api/test}
           :cljs-runner              {:extra-deps {olical/cljs-test-runner {:mvn/version "3.8.1"}
                                                   org.clojure/core.async  {:mvn/version "1.6.673"}}
                                      :main-opts  ["-m" "cljs-test-runner.main"
                                                   "--out" ".cljs-test-runner-out"]}
           :clj-repl-server          {:exec-fn   clojure.core.server/start-server
                                      :exec-args {:name          "clj-repl-server"
                                                  :port          5555
                                                  :accept        clojure.core.server/repl
                                                  :server-daemon false}}
           :cljs-node-repl-server    {:exec-fn   clojure.core.server/start-server
                                      :exec-args {:name          "cljs-node-repl-server"
                                                  :port          5555
                                                  :accept        cljs.server.node/repl
                                                  :args          [{:opts     {:warn-on-undeclared false}
                                                                   :env-opts {}}]
                                                  :server-daemon false}}
           :cljs-browser-repl-server {:exec-fn   clojure.core.server/start-server
                                      :exec-args {:name          "cljs-browser-repl-server"
                                                  :port          5555
                                                  :accept        cljs.server.browser/repl
                                                  :args          [{:opts     {:warn-on-undeclared false}
                                                                   :env-opts {}}]
                                                  :server-daemon false}}
           :coverage                 {:extra-deps {cloverage/cloverage {:mvn/version "1.2.4"}}
                                      :main-opts  ["-m" "cloverage.coverage"
                                                   "--src-ns-path" "src"
                                                   "--test-ns-path" "test"]
                                      :exec-fn    cloverage.coverage/run-project
                                      :exec-args  {:src-ns-path  ["src"]
                                                   :test-ns-path ["test"]}}
           :eastwood                 {:main-opts  ["-m" "eastwood.lint" {:source-paths ["src"]
                                                                         :add-linters  [:unused-fn-args :unused-locals :unused-namespaces :unused-private-vars]}]
	                                    :extra-deps {jonase/eastwood {:mvn/version "1.4.2"}}}}}
